/***********************************************************************************************************************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  text-align: center;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: #14CDFF;
  background-image: -webkit-linear-gradient(90deg, #123E61, #47167E);
  background-image: -moz-linear-gradient(90deg, #123E61, #47167E);
  background-image: -o-linear-gradient(90deg, #123E61, #47167E);
  background-image: linear-gradient(90deg, #123E61, #47167E);
}
main.container {
  color: white;
  display: block;
  min-width: 50%;
  max-width: 70%;
}

main.container h1 {
  font-weight: 200;
  font-size: clamp(1.3em, 2em, 3em);
}
main.container p {
  margin-top: clamp(7px, 14px, 24px);
  margin-bottom: clamp(7px, 40px, 60px);
  color: white;
  font-size: clamp(10px, 13px, 30px);
  padding: 3px clamp(13px, 13px, 40px);
}
main.container > div {
  text-align: center;
}
main.container > div input {
  display: block;
  margin-top: 14px;
  padding: clamp(6px, 9px, 15px);
  background-color: #FDFDFD;
  color: black;
  border: 2px solid #D5D5D5;
  border-radius: 2px;
  font-size: clamp(14px, 16px, 20px);
  width: 100%;
  outline: none;
}
div.opt {
  padding: 0px clamp(14px, 19px, 27px);
  display: flex;
  justify-content: space-between;
}
div.opt input[type="button"] {
  background-color: #9B15FF;
  margin: 14px auto;
  width: 45%;
  display: inline-block;
  border-color: #6817CA;
  color: white;
  transition: 1s;
  outline: none;
}
div.opt input[type="button"]:hover {
  transform: scale(1.2, 1.2);
}
div.opt input[type="button"]:first-child {
  background-color: #1DBE56;
  border-color: #1EA44E;
  color: black;
}
main.container > div a {
  text-decoration: none;
  color: white;
  font-size: clamp(10px, 12px, 14px);
  outline: none;
}
main.container > div a:hover {
  color: #13C3FF;
  text-decoration: #13C3FF;
}